.shopItemWrapper{
    border:1px solid #95A0A7;
    border-radius: 8px;
    height:510px;
}
.singleItemWrapper{
    height:100%;
    position:relative;
}
.img{
   height:238px;
   padding:7px 7px 0 7px;
}

.img img{
 width:100%;
}
.singleItemInfo{
    padding:0 18px;
}
.singleItemInfo h1{
    margin-top:14px;
    font-size:21px;
    color:#0E161A;;
    letter-spacing: 0.032px;
}
.singleItemInfo h3{
    font-weight: 400;
    font-size:17px;
    color:#0E161A;;
    letter-spacing: 0.026px;
    margin-bottom:47px;
}

.addToCartButton{
    width:100%;
    text-align: center;
    border-radius:0 0 8px 8px;
    padding:14px 0;
    background-color:#FFE0B3;
    color:#0E161A;
    letter-spacing: 0.188px;
    position:absolute;
    bottom:0;
}
p{
    margin-bottom:0;
}